<html>
  <head>
    <title>Home</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="nav-bar">
      <a href="/"><img src="/images/pngegg.png"</a>
      <a class="active" href="/">Home</a>
      <a href="/about">About</a>
      <!-- <%- include("./partials/nav.ejs") %> -->
    </div>
    <a href="/signup" class="signup-btn"><span>Sign Up</span></a>
    <a href="/login" class="login-btn"><span>Login</span></a>
    <div class="container">
      <% news.forEach(function(item) { %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= item.title %></h4>
          <p class="card-text"><%= item.description %></p>
          <p class="card-text">Published on: <%= item.pubDate %></p>
          <a href="<%= item.link %>" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
